.col1 {
  width: 10%;
}

.col2 {
  width: 30%;
}

.col3 {
  width: 30%;
}

.col4 {
  width: 30%;
}

.table {
  margin: 0;
}

th,
td {
  text-align: center;
}

#wrap {
  width: 800px;
  margin: 10px auto;
}

.input_table {
  margin: 0;
}

.expenditure {
  height: 25px;
  margin-bottom: 30px;
  font-size: 14px;
}

.input_group input {
  width: 100%;
  border: none;
  outline: 0;
  text-align: center;
}

.table.input {
  margin-bottom: 0;
}

.input_list tr:first-child {
  line-height: 24.4px;
}

.table.db tr {
  line-height: 26.4px;
}

.btn_wrap {
  position: absolute;
  width: 800px;
  height: 30px;
  display: flex;
  justify-content: end;
  top: 285px;
}

.btn_edit {
  position: absolute;
}

.common_btn {
  width: 42px;
  line-height: 22px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.add_btn {
  background: #7f19d2;
  border: 1px solid #7f19d2;
  margin-right: 5px;
}

.save_btn {
  background: #0a58ca;
  border: 1px solid #0a58ca;
}

.delete_btn {
  background: rgb(240, 10, 10);
  border: 1px solid rgb(240, 10, 10);
}

.edit_btn {
  background: #0a58ca;
  border: 1px solid #0a58ca;
}

/* chart */
.chart-container {
  /* width: 400px; */
  height: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#bar-chart {
  width: 100%;
}
