#wrap {
  width: 800px;
  margin: 10px auto;
}

.form_wrap {
  margin: 80px 150px 20px;
}

form {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 10px;
}

.form_wrap .logo {
  text-align: center;
  margin: 20px 0 35px;
}

.form-floating {
  margin-bottom: 20px;
}

.validation_message {
  position: absolute;
  top: 50%;
  right: 12px;
  color: red;
  font-size: 12px;
}

.btn_sign_up_path {
  text-align: end;
}

.btn_sign_up_path a {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  width: 90px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.btn_sign_up_path a:hover {
  color: rgba(0, 0, 0, 1);
}

.btn_account {
  text-align: center;
}

.btn_account button {
  width: 200px;
}

.validation_result {
  text-align: center;
  margin: 25px 0px 35px;
}

.validation_result p {
  color: red;
  font-weight: bold;
}

/* sign_in */
.btn_account.sign_in {
  margin-bottom: 25px;
}

/* sign_up */
.form-floating.email {
  display: flex;
  gap: 2px;
}

.form-floating.email button {
  width: 100px;
}

.form-floating.email .validation_message {
  right: 100px;
}

.btn_account.sign_up {
  margin: 50px 0 25px;
}

.verification_code {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.sign_up .btn {
  opacity: 0.5;
  transition: 1s;
}
